html, body, p, a {
    margin: 0;
    padding: 0;

}

html,body{
    background-color: var(--web-background-color);
    font-family: SansSerif,"Roboto Thin",SansSerif,sans-serif;
}
hr{
    margin: 0;
}
.h1,.h2,.h3{
    color:var(--big-text-color);
    font-weight: bold;
}
.title{
    font-weight: bold;
}
.addAll-btn{
    background-color: var(--sub-cta-button);
    color: var(--web-background-color);
    height: 40px;
    border-radius: 5px;
}
.add-to-cart{
    background-color: var(--main-cta-button);
    color: var(--web-background-color);
    width: 80px;
    height: 40px;
    border-radius: 5px;
    text-align: center; ;
}
.delete-btn{
    background-color: var(--sub-cta-button);
    color: var(--web-background-color);
    width: 80px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
}
.resized-image{
    width: 148px;height: 97px;
}
.resized-image-his{
    width: 98px;
    height:64px;
}
button{
    border: none;
}
input{
    border-radius: 3px;
    /*padding-left: 0;*/
    border: solid 1px #dddddd;
    font-size: 16px ;
}
/*Header*/
header {
    background-color: var(--dark-component-background-color) !important;
}

header input {
    background-color: var(--label-color) !important;
    padding-left: 1.75rem !important;
    padding-right: 1.75rem !important;
}

header i {
    font-size: 24px;
    color: var(--label-color) !important;
}

header p {
    margin: 0;
    color: var(--label-color) !important;
}

header ul > li, header i {
    cursor: pointer;
}

header ul > li:hover * {
    color: var(--text-hover-color) !important;
}

#header-logo {
    font-size: 40px;
}

/*Content*/
.content {
    height: 1024px;
    padding: 0 30px;
    /*background-color: var(--web-background-color);*/
}
/*Navigation Bar*/
.breadcrumb {
    padding: 20px 0;
}
/*User properties list*/
.user-props-list {
    width: 30%;
    padding: 0;
    margin: 0;
    background-color: var(--light-component-background-color);
    border-radius: 5px;
    height: 600px;
}
/*User frame image*/
.user-props-list .user-img-frame {
    text-align: center;
    height: 200px;
    border-bottom: solid 1px #dddddd;
    background-color: pink;
    border-radius: 5px 5px 0 0;
}
/*list_props*/
.user-props-list .list_props button {
    border: none;
    padding: 10px;
    background-color: var(--light-component-background-color);
}
.container .user-props-list .active{
    background-color: var(--sub-cta-button);
    color: var(--web-background-color);
}
.order-categories .on{
    color: var(--sub-cta-button);
    font-weight: bold;
}
/*Setting and Help*/
.user-props-list .user_setting_help {
    padding: 10px 0;
}
/*Log out*/
.user-props-list .user_setting_help button, .user-props-list .user-logout button {
    background-color: var(--light-component-background-color);
    border: none;
}
/*User Info Page*/
.content > div{
    border-radius: 5px;
    /*text-align: center;*/
    background-color: var(--light-component-background-color);
}
.container #user-info{
    height: 500px;
}
.container #user-info .change-pass #change-password{
    background-color: var(--sub-cta-button);
    color: var(--web-background-color);
    border:none;
    border-radius: 3px;
    font-size: 15px;
    height: 30px;
}
.container #user-info .save-info button{
    background-color: var(--sub-cta-button);
    color: var(--web-background-color);
    border:none;
    height: 40px;
    font-size: 16px;
    border-radius: 3px;
}
/* User's addresses Page */
.container #user-address .card-title{
    color: var(--big-text-color);
    font-weight: bold;
}
.container #user-address button,.container #user-address-change .edit_address,
.container #user-address-add .add-address{
    background-color: var(--sub-cta-button);
    color:var(--web-background-color);
    border: none;
    border-radius: 3px;
    font-size: 15px;
    height: 40px;
}

/*User's viewed history */
.product-title{
    font-weight: bold;
}
#user-viewed-info .col-2,#user-wishlist .col-2{
    padding-top:30px;
}
/*User's order list*/
#user-ordered-list .card button{
    width: 90%;
    padding: 5px;
    border-radius: 5px;
}
#user-ordered-list .card .cancel-btn{
    background-color: var(--main-cta-button);
    color:var(--web-background-color);
}
#user-ordered-list .shipped{
    color:var(--sub-cta-button);
}
/*User's order shipping*/
#user-ordered-list #shippinglist .card .received{
    background-color: var(--main-cta-button);
    color: var(--web-background-color);
    opacity: 0.5;
}
/*User's shipped list*/
#user-ordered-list #shippedlist .card .received,#user-ordered-list #canceledlist .card .rebuy_btn{
    background-color: var(--main-cta-button);
    color: var(--web-background-color);
}
/*User's turnedback orders*/
#user-ordered-list #turnedback .card .turnback_details{
    background-color: var(--sub-cta-button);
    color: var(--web-background-color);
}
/*User's canceled Orders*/
/*User's setting*/
#user_setting .change-img, #user_setting .change-name{
    background-color: var(--web-background-color);
    color:var(--sub-cta-button);
    border: solid 1px var(--sub-cta-button);
    border-radius: 5px;
}
#user_setting .change-avatar{
    background-color: var(--web-background-color);
}
#user_setting .fullname .edit_name{
    background-color: var(--web-background-color);
    color:var(--sub-cta-button);
}
#user_setting .feedback_form .container{
    background-color: var(--web-background-color);
}
#user_setting .feedback_form .container .submit-btn{
    background-color: var(--sub-cta-button);
    color: var(--web-background-color);
    border: none;
    border-radius: 3px;
}
#user_setting .delete-account{
    background-color: var(--main-cta-button);
    color: var(--web-background-color);
    height: 40px;
    border-radius: 5px;
}
/* User's Support*/
/*User's Logout alert*/
#logout_alert{
    display: none;
    width:300px;
    height:170px;
    background-color: var(--light-component-background-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
#logout_alert #yesBtn{
    background-color: var(--sub-cta-button);
    width: 100px;
    color: var(--web-background-color);
    border-radius: 5px;
}
#logout_alert #noBtn{
    border: solid 1px var(--sub-cta-button);
    border-radius: 5px;
}


