.main-color {
    color: var(--big-text-color);
}
.background-container {
    background-color: var(--light-component-background-color);
}

.card {
    background-color: var(--light-component-background-color);
    border: 0;
}