.main-color {
    color: var(--big-text-color);
}
.background-container {
    background-color: var(--light-component-background-color);
}

.sub-cta-button {
    background-color: var(--sub-cta-button);
    color: var(--label-color);
    border: solid 2px var(--sub-cta-button) !important;
}

.page-link {
    color: var(--sub-cta-button);
}

.card {
    background-color: var(--light-component-background-color);
    border: 0;
}

.card-title {
    font-weight: normal;
    margin-bottom: 0;
}

.product-info__star-container {
    position: relative;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-info__star-outline, .product-info__star {
    position: absolute;
    width: 100%;
    text-align: center;
}

.product-info__star-mask {
    width: 0;
    height: 28px;
    position: absolute;
    right: 0;
    background-color: var(--light-component-background-color);
}

.category-list p {
    margin: 0;
}

.category-active {
    font-weight: bolder;
    color: var(--label-color);
    background-color: var(--sub-cta-button);
}

.form-check-input:checked {
    background-color: var(--sub-cta-button);
    border-color: var(--sub-cta-button);
}