/*Sẽ xóa file này*/
.main-cta-button {
    background-color: var(--main-cta-button);
    color: var(--label-color);
}

.main-cta-button:hover {
    background-color: var(--main-cta-button-hover);
}

.sub-cta-button-background {
    background-color: var(--sub-cta-button);
    color: var(--label-color);
}

.sub-cta-button-background:hover {
    background-color: var(--sub-cta-button-hover);
    color: var(--label-color);
}

.main-color {
    color: var(--big-text-color);
}

.main-info a {
    text-decoration: none;
}
