header {
    background-color: var(--dark-component-background-color) !important;
}

header i {
    font-size: 24px;
}

header p {
    margin: 0;
}

header>div, header ul>li {
    cursor: pointer;
}

#header-logo {
}