header {
    background-color: var(--dark-component-background-color) !important;
}

header input {
    background-color: var(--label-color) !important;
    padding-left: 1.75rem !important;
    padding-right: 1.75rem !important;
}

header i {
    font-size: 24px;
    color: var(--label-color) !important;
}

header p {
    margin: 0;
    color: var(--label-color) !important;
}

header ul>li, header i {
    cursor: pointer;
}

header ul>li:hover * {
    color: var(--text-hover-color) !important;
}

#header-logo {
    font-size: 40px;
}