h1, h2, h3, h4, h5, p, i, span {
    color: var(--text-color);
}

body {
    overflow-x: hidden;
}

/*#second-landing-img {*/
/*    left: 10%;*/
/*    height: 100%;*/
/*    top: 5%;*/
/*}*/

#landing-section {
    box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.75);
    margin-bottom: 5rem !important;
}

#homepage-carousel, .carousel-inner {
    height: 25rem;
}

#homepage-carousel img {
    height: 25rem;
    position: absolute;
}

#homepage-carousel * {
    color: var(--label-color);
}

.background-container {
    background-color: var(--light-component-background-color);
}

.main-color {
    color: var(--big-text-color);
}

.carousel-mask {
    position: relative;
    width: 100%;
    height: 25rem;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
}

.card {
    background-color: var(--light-component-background-color);
    border: 0;
}

.card-title {
    font-weight: normal;
}

.sub-cta-button {
    background-color: var(--sub-cta-button);
    color: var(--label-color);
}

.sub-cta-button:hover {
    background-color: var(--sub-cta-button-hover);
    color: var(--label-color);
}

.sub-cta-button:disabled {
    background-color: var(--disabled-cta-button-color);
}

.product-info__star-container {
    position: relative;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-info__star-outline, .product-info__star {
    position: absolute;
    width: 100%;
    text-align: center;
}

.product-info__star-mask {
    width: 0;
    height: 28px;
    position: absolute;
    right: 0;
    background-color: var(--light-component-background-color);
}

.category-list p {
    margin: 0;
}

.category-active {
    font-weight: bolder;
    color: var(--label-color);
    background-color: var(--sub-cta-button);
}