:root {
    --web-background-color: #f5f5f5;
    --component-background-color: #e9f1ec;
    --big-text-color: #4d6a55;
    --label-color: #f5f5f5;
    --text-color: #000b0e;
    --main-cta-button: #c86f46;
    --sub-cta-button: #4d6a55;
}