i, p {
    color: var(--text-color);
}

textarea {
    resize: none;
}

.background-container {
    background-color: var(--light-component-background-color);
}

#product-image {
    width: 100%;
}

#product-info__rating li {
}

#product-info__rating i {
    font-size: 28px;
}

#product-sub-info {
    background-color: var(--sub-component-background-color);
}

#product-sub-info i {
    font-size: 20px;
}

#product-sub-info span {
    font-size: 14px !important;
    padding-left: 0.5rem;
}

.main-color {
    color: var(--big-text-color);
}

.product-info__star-container {
    position: relative;
    height: 28px;
}

.product-info__star-outline, .product-info__star {
    position: absolute;
    width: 100%;
    text-align: center;
}

.product-info__star-mask {
    width: 0;
    height: 28px;
    position: absolute;
    right: 0;
    background-color: var(--light-component-background-color);
}

.main-cta-button {
    background-color: var(--main-cta-button);
    color: var(--label-color);
}

.sub-cta-button {
    color: var(--sub-cta-button);
}

.sub-cta-button-background {
    background-color: var(--sub-cta-button);
    color: var(--label-color);
}

.sub-cta-button-background:hover {
    background-color: var(--sub-cta-button-hover);
    color: var(--label-color);
}

.sub-info-title {
    font-size: 14px;
}

.product-description {
    text-indent: 3%;
}