i, p  {
    color: var(--text-color);
}

footer i, footer p {
    color: var(--label-color);
}

textarea {
    resize: none;
}

#cart-badge {
    top: -0.5rem;
    right: 0;
    background-color: var(--main-cta-button);
    width: 1.75rem;
    height: 1.75rem;
    padding: 0.15rem;
    display: none;
}

#product-detail__remove-amount i, #product-detail__add-amount i {
    color: var(--text-color);
}

#product-detail__remove-amount:disabled>i, #product-detail__add-amount:disabled>i {
    color: var(--text-hover-color);
}

#product-detail .btn-close {
    width: 0.25rem !important;
    height: 0.25rem !important;
}

#product-image {
    width: 100%;
}

#product-info__rating li {
}

#product-info__rating i {
    font-size: 28px;
}

#product-sub-info {
    background-color: var(--sub-component-background-color);
}

#product-sub-info i {
    font-size: 20px;
}

#product-sub-info span {
    font-size: 14px !important;
    padding-left: 0.5rem;
}

#show-popup {
    cursor: pointer;
}

#shipping-location-container {
    background-color: var(--web-background-color);
    display: none;
}

#shipping-location__breadcrumb {
    width: 100%;
    text-wrap: nowrap;
    align-items: center;
}

#list-address li {
    background-color: rgba(0,0,0,0);
}

#product-review__star .product-info__star-container {
    cursor: pointer;
}

.sub-info-title {
    font-size: 14px;
}

.product-description {
    text-indent: 3%;
}

.card {
    background-color: var(--light-component-background-color);
    border: 0;
}

.card-title {
    font-weight: normal;
    margin-bottom: 0;
}
.comment-rating {

}