.style-label {
    font-size: 16px;
    flex: 1;
}

.text-line {
    display: inline-block;
    width: 10px;
    height: 2px;
    background-color: var(--text-color);
}

.filter-price-input {
    display: inline-block;
    width: 43%;
    padding-left: 10px;
}

.filter-price-input::-webkit-outer-spin-button,
.filter-price-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.filter-price-btn, .filter-delete-btn {
    border: none;
    background-color: var(--sub-cta-button);
    color: white;
    font-weight: 500;
    width: 100%;
    height: 35px;
}

.style-star {
    color: gold;
    font-size: 20px;
}

.checkbox-container {
    flex: 0.1;
}