.text-line {
    display: inline-block;
    width: 10px;
    height: 2px;
    background-color: var(--text-color);
}

.filter-price-input {
    display: inline-block;
    width: 43%;
    padding-left: 10px;
}

.filter-price-input::-webkit-outer-spin-button,
.filter-price-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.filter-price-btn, .filter-delete-btn {
    border: none;
    background-color: var(--sub-cta-button);
    color: white;
    font-weight: 500;
    width: 100%;
    height: 35px;
    border-radius: 5px;
}

.style-star {
    color: #4d6a55;
    font-size: 20px;
}

.radio-container {
    flex: 0.15;
}

.sort-container {
    height: 60px;
    padding-left: 20px;
}

.sort-date-product__select, .sort-price-product__select {
    width: 150px;
    height: 35px;
    border: none;
    background-color: var(--label-color);
}

.sort-price-product__select {
    width: 200px;
}

.card-container {
    background-color: var(--label-color);
}

.return-home-link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
}

.btn-pagination, .btn-current-pagination {
    padding: 20px;
    color: var(--text-color);
    border: none;
    background-color: var(--light-component-background-color);
    margin-right: 10px;
}

.btn-current-pagination {
    background-color: var(--label-color);
    border: solid 1px var(--text-color);
}

.btn-pagination a {
    text-decoration: none;
    color: var(--text-color);
}

.card-body {
    background-color: var(--light-component-background-color);
}

.card-container {
    border: none;
}

.card-text {
    color: #4d6a55;
    text-align: right;
    font-weight: 500;
    font-size: 20px;
}

.style-container-product, .style-menu {
    border-radius: 10px;
    background-color: var(--light-component-background-color);
}

.page-link {
    color: var(--big-text-color);
}

.form-check-input:checked {
    background-color: var(--sub-cta-button);
    outline: none;
    box-shadow: none;
    border: none;
}

#back-btn {
    cursor: pointer;
    user-select: none;
}

#back-btn:hover {
    /*Sẽ thêm màu vào index.css*/
    color: var(--text-hover-color);
}