body, html {
    background-color: var(--web-background-color);
}

a {
    color: var(--sub-cta-button);
    text-shadow:
    0 0 1px var(--dark-component-background-color), /* Bóng sáng nhẹ, sát cạnh chữ */
    0 0 4px var(--light-component-background-color); /* Bóng sáng thứ hai, xa hơn một chút */
}

.container {
    width: 450px;
    background-color: var(--light-component-background-color);
    margin-top: 50px;
}

.style-big-title {
    font-size: 2.25rem;
    font-weight: bold;
    color: var(--big-text-color);
}

.style-title {
    color: var(--big-text-color);
    font-weight: 500;
}

.style-button {
    border: none;
    background-color: var(--sub-cta-button);
    color: var(--label-color);
    font-size: 1.125rem;
    height: 50px;
    width: 150px;
    border-radius: 10px;
}

.style-caption {
    font-size: 0.875rem;
    font-weight: lighter;
    color: var(--text-color);
}

.style-label {
    font-size: 1rem;
    color: var(--big-text-color);
}

.icon-social {
    height: 40px;
    text-align: center;
    align-content: center;
}

.style-input {
    height: 50px;
    padding-left: 10px;
}

.icon-container {
    height: 50px;
    background-color: white;
    align-content: center;
    border: solid 1px rgb(118, 118, 118);
    border-right: none;
}

.fa-brands{
    font-size: 1.4rem;
    color: var(--sub-cta-button);
}
