.breadcrumb a {
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-decoration: none;
    color: var(--text-color);
}

.breadcrumb a:hover {
    color: var(--text-hover-color);
}