.img-product-container {
    height: 200px;
}

.img-product-container img {
    position: relative;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.checkbox-del {
    height: 15px;
    width: 15px;
}

#myProductEditTable tbody tr td {
    font-size: 14px;
}

.style-textarea-cmt {
    width: 150px;
    height: 70px;
    resize: none;
}

.reviewByStar[type="number"] {
    pointer-events: none; /* Ngăn người dùng nhập liệu trực tiếp */
    cursor: default; /* Thay đổi con trỏ */
}

/* Hiển thị nút spin trên trình duyệt sử dụng WebKit (Chrome, Edge, Safari) */
.reviewByStar[type="number"]::-webkit-inner-spin-button,
.reviewByStar[type="number"]::-webkit-outer-spin-button {
    appearance: auto; /* Bật spin button (cho các trình duyệt hỗ trợ) */
    pointer-events: auto; /* Cho phép tương tác */
    opacity: 1; /* Đảm bảo luôn hiển thị */
}