.remove-product-btn {
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: var(--sub-cta-button);
    color: white;
    width: 100%;
}

.add-product-btn {
    margin-top: 10px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: var(--sub-cta-button);
    color: white;
}