.btn-secondary {
    background-color: var(--light-component-background-color);
    color: var(--text-color);
    border: none;
}

.btn-secondary:hover {
    background-color: var(--label-color);
    color: var(--text-hover-color);
}

.btn-primary {
    border-radius: 0;
    background-color: var(--sub-cta-button);
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: var(--sub-cta-button-hover);
}

#log-out {
    background-color: var(--light-component-background-color);
    border: none;
}