.style-big-title {
    font-weight: bold;
    color: var(--big-text-color);
}

.style-title {
    color: var(--big-text-color);
    font-weight: 500;
}

.style-button, .style-cancel-btn {
    border: none;
    background-color: var(--sub-cta-button);
    color: var(--label-color);
    height: 50px;
    width: 100%;
    border-radius: 10px;
}

.style-label {
    color: var(--big-text-color);
}

.icon-social {
    height: 40px;
    text-align: center;
    align-content: center;
}

.style-input {
    height: 50px;
    padding-left: 10px;
}

.style-area {
    height: 100px;
    padding-left: 10px;
    resize: none;
}

.style-input:disabled, .style-area:disabled, .style-select-many:disabled {
    background-color: white !important;
    border: solid 1px rgb(118, 118, 118) !important;
}

.style-select-many, .style-select {
    height: 130px;
    width: 100%;
    padding-left: 20px;
}

.style-select {
    height: 50px;
}

.icon-container {
    height: 50px;
    background-color: white;
    align-content: center;
    border: solid 1px rgb(118, 118, 118);
    border-right: none;
}

.fa-brands {
    color: var(--sub-cta-button);
}

.form-container {
    padding-left: 40px;
    padding-right: 40px;
    background-color: var(--light-component-background-color);
}

.style-cancel-btn {
    background-color: var(--sub-component-background-color);
    color: var(--text-color);
}

