.container #user-address .card-title{
    color: var(--big-text-color);
    font-weight: 500;
}
#user-address button,
#user-address-add .add-address{
    background-color: var(--sub-cta-button);
    color:var(--web-background-color);
    border: none;
    border-radius: 3px;
    font-size: 15px;
    height: 40px;
}
#user-address #change-address{
    height: 30px;
}
#user-address #sub-change-address input{
    height: 40px;
}
#user-address-add .cancel-add-address{
    border: solid 1px var(--sub-cta-button);
    border-radius: 5px;
}