.product-title{
    font-weight: 500;
}
#user-viewed-info .col-2,#user-wishlist .col-2{
    padding-top:30px;
}
#popup{
    display: none;
    position: fixed;
    border-radius: 5px;
    height: 100px;
    width: 500px;
    border: solid 1px var(--big-text-color);
    top:45%;
    left: 30%;
    background: var(--web-background-color);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
#popup-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
}
.addAll-btn{
    background-color: var(--sub-cta-button);
    color: var(--web-background-color);
    height: 40px;
    border-radius: 5px;
}
.add-to-cart{
    background-color: var(--main-cta-button);
    color: var(--web-background-color);
    width: 80px;
    height: 40px;
    border-radius: 5px;
    text-align: center; ;
}
.delete-btn{
    background-color: var(--sub-cta-button);
    color: var(--web-background-color);
    width: 80px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
}