:root {
    --web-background-color: #f0f0f0;
    --light-component-background-color: #fefefe;
    --dark-component-background-color: #3d2225;
    --dark-component-background-color-hover: #693e40;
    --sub-component-background-color: #fafafa;
    --big-text-color: #b4533a;
    --label-color: #f5f5f5;
    --text-color: #000b0e;
    --label-hover-color: #c8c8c8;
    --text-hover-color: #777777;
    --sub-text-color: #aaaaaa;
    --main-cta-button: #b4533a;
    --main-cta-button-hover: #c95c41;
    --sub-cta-button: #3d2225;
    --sub-cta-button-hover: #563134;
    --disabled-cta-button-color: #ad9274
}

body {
    background-color: var(--web-background-color) !important;
}

textarea {
    resize: none;
}

.p-4_5 {
    padding: 2rem !important;
}

.pt-4_5 {
    padding-top: 2rem !important;
}

.pb-4_5 {
    padding-bottom: 2rem !important;
}

.ps-4_5 {
    padding-left: 2rem !important;
}

.pe-4_5 {
    padding-right: 2rem !important;
}

.px-4_5 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.py-4_5 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.m-4_5 {
    margin: 2rem !important;
}

.mt-4_5 {
    margin-top: 2rem !important;
}

.mb-4_5 {
    margin-bottom: 2rem !important;
}

.ms-4_5 {
    margin-left: 2rem !important;
}

.me-4_5 {
    margin-right: 2rem !important;
}

.mx-4_5 {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
}

.my-4_5 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.cursor-pointer {
    cursor: pointer;
}