:root {
    --web-background-color: #f5f5f5;
    --light-component-background-color: #e9f1ec;
    --dark-component-background-color: #4d6a55;
    --dark-component-background-color-hover: #55855f;
    --sub-component-background-color: #fafafa;
    --big-text-color: #4d6a55;
    --label-color: #f5f5f5;
    --text-color: rgb(0, 11, 14);
    --label-hover-color: #c8c8c8;
    --text-hover-color: #777777;
    --sub-text-color: #aaaaaa;
    --main-cta-button: #c86f46;
    --main-cta-button-hover: #e78b5e;
    --sub-cta-button: #4d6a55;
    --sub-cta-button-hover: #55855f;
    --disabled-cta-button-color: #6c757d
}

body {
    background-color: var(--web-background-color) !important;
}

textarea {
    resize: none;
}

.p-4_5 {
    padding: 2rem !important;
}

.pt-4_5 {
    padding-top: 2rem !important;
}

.pb-4_5 {
    padding-bottom: 2rem !important;
}

.ps-4_5 {
    padding-left: 2rem !important;
}

.pe-4_5 {
    padding-right: 2rem !important;
}

.px-4_5 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.py-4_5 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.m-4_5 {
    margin: 2rem !important;
}

.mt-4_5 {
    margin-top: 2rem !important;
}

.mb-4_5 {
    margin-bottom: 2rem !important;
}

.ms-4_5 {
    margin-left: 2rem !important;
}

.me-4_5 {
    margin-right: 2rem !important;
}

.mx-4_5 {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
}

.my-4_5 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.cursor-pointer {
    cursor: pointer;
}