.btn-delete,  .btn-add, .btn-read-edit {
    display: inline-block;
    border: none;
    color: white;
    height: 40px;
    border-radius: 5px;
}

.btn-delete {
    background-color: var(--main-cta-button);
    margin-bottom: 10px;
    width: 60px;
}

.btn-read-edit {
    background-color: var(--sub-cta-button);
    width: 150px;
}

.btn-add {
    background-color: var(--sub-cta-button);
    width: 200px;
    font-weight: 500;
}

#myTable tr:nth-child(even) {
    background-color: var(--light-component-background-color);
}

table.dataTable thead tr th {
    background-color: var(--sub-cta-button);
    color: white;
    font-weight: 500;
    text-align: center;
}
table.dataTable th.dt-type-numeric {
    text-align: center;
}

#myTable tbody tr td {
    text-align: center;
}

#myTable .head-table th {
    font-weight: 500;
}

.style-title {
    color: var(--big-text-color);
    font-weight: 500;
    padding-left: 10px;
}

.card {
    background-color: white;
}