body, html {
    overflow: visible;
}

.nav-style {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    overflow: visible;
    background-color: var(--light-component-background-color);
}

#content {
    position: absolute;
    margin-left: 253px;
}

.avt-admin {
    height: 100px;
    width: 100px;
    border-radius: 60px;
    position: relative;
}

.img {
    border-radius: 60px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hr-under-info {
    height: 2px;
    background-color: var(--dark-component-background-color);
}

.select-nav, #log-out{
    display: block;
    text-decoration: none;
    height: 35px;
    align-content: center;
    color: var(--text-color);
}

.select-nav:hover {
    color: var(--text-hover-color);
}

.select-nav.active {
    color: white;
    font-weight: 500;
    background-color: var(--dark-component-background-color);
}

.list-manage li {
    list-style: none;
}