.image-resize{
    width: 148px;
    height: 97px;
}
.h1,.h2,.h3,.h4,.h5{
    color: var(--sub-cta-button);
    font-weight: 500;
}

.cart,.discount_area,.pay_area{
    background-color: var(--light-component-background-color);
    border-radius: 5px;
}
.cart{
    min-height: 750px;
}
.cart-title{
    color: var(--sub-cta-button);
    font-weight: bold;
}
.product-detail__amount{
    background-color: var(--web-background-color);
}
.discount_pay{
    min-height: 700px;
}
.discount-item{
    border-bottom: solid 1px var(--label-hover-color);
}
.apply_discount{
    background-color: var(--web-background-color);
    color: var(--sub-cta-button);
    border:solid 1px var(--sub-cta-button);
    border-radius: 5px;
    font-weight: bold;
}
.payable{
    background-color: var(--main-cta-button);
    color: var(--web-background-color);
    font-weight: 500;
    border:none;
    height: 50px;
}
.form-check-input{
    border: solid 1px var(--text-color);
}
.form-check-input:checked{
    background-color: var(--sub-cta-button);
}
/* discount detail*/
#discount-detail-info{
    display: none;
    position: fixed;
    min-height: 200px;
    border-radius: 5px;
    border: solid 1px var(--big-text-color);
    top:45%;
    left: 30%;
    background: var(--web-background-color);
    justify-content: center;
    align-items: center;
    transition: visibility 0.3s, opacity 0.3s;
    min-width: 600px;
    z-index: 1001;
}
#popup-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
}
#popup{
    display: none;
    position: fixed;
    border-radius: 5px;
    height: 100px;
    width: 500px;
    border: solid 1px var(--big-text-color);
    top:45%;
    left: 30%;
    background: var(--web-background-color);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.disabled{
    pointer-events: none; /* Vô hiệu hóa sự kiện */
    cursor: not-allowed;
    opacity: 0.5;

}
.selected-discount{
    border: solid 1px var(--text-hover-color);
    border-radius: 5px;
}

.select-area{
    color: var(--sub-cta-button);
    background-color: var(--web-background-color);
    text-align: center;
}
.select-area .select-option{
    color: var(--sub-cta-button);
}