html, body, a {
    margin: 0;
    padding: 0;
    border: 0;
}

footer {
    background-color: var(--dark-component-background-color);
}

#footer-logo {
}

footer a {
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-decoration: none;
    color: var(--label-color);
}

footer a:hover {
    color: var(--label-hover-color);
}