header {
    background-color: var(--dark-component-background-color) !important;
}

header input {
    background-color: var(--label-color) !important;
    padding-left: 1rem !important;
}

header i {
    font-size: 24px;
    color: var(--label-color) !important;
}

header p {
    margin: 0;
    color: var(--label-color) !important;
}

header ul>li:hover *:not(.header-popup *), .header-category-element:hover {
    color: var(--label-hover-color) !important;
}

header a {
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-decoration: none;
    color: var(--label-color);
}
header a:hover {
    color: var(--label-hover-color);
}

.header-popup {
    border: solid var(--text-hover-color) 2px;
    color: var(--text-color);
    width: 28rem;
    height: 25rem;
    z-index: 2;
    cursor: default;
}

.header-popup p {
    color: var(--text-color) !important
}

.header-popup__title {
    border-bottom: solid 1px var(--label-hover-color);
}

.header-popup__content {
    height: 75%;
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom: solid 1px var(--label-hover-color);
}

.header-popup__close-btn {
    width: 0.35em !important;
    height: 0.35em !important;
}

#header-logo {
    width: 60px;
    height: 60px;
}

#category-popup {
    width: 15rem !important;
    height: 20rem;
}

#category-popup .header-popup__content {
    height: 75%;
}

#category-popup i {
    color: var(--text-color);
}

#cart-badge {
    top: -0.5rem;
    right: 0;
    background-color: var(--main-cta-button);
    width: 1.75rem;
    height: 1.75rem;
    padding: 0.15rem;
}