p, i, span {
    color: var(--text-color);
}

body {
    overflow-x: hidden;
}

/*Sẽ được đẩy qua style.css*/
footer p, footer i {
    color: var(--label-color) !important;
}

/*#second-landing-img {*/
/*    left: 10%;*/
/*    height: 100%;*/
/*    top: 5%;*/
/*}*/

#landing-section {
    box-shadow: 10px 10px 36px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 36px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 36px 0px rgba(0, 0, 0, 0.75);
    margin-bottom: 5rem !important;
}

#full-product-button:disabled {
    filter: opacity(50%);
}

.category-list p {
    margin: 0;
}

.category-active {
    font-weight: bolder;
    color: var(--label-color);
    background-color: var(--sub-cta-button);
}

.open-category-button:hover {
    color: var(--text-hover-color);
}

.card-img {
    object-fit: contain;
    aspect-ratio: 3/2;
}