.main-color {
    color: var(--big-text-color);
}

.background-container {
    background-color: var(--light-component-background-color);
}

section p {
    text-indent: 1%;
}

h5 {
    margin-top: 1%;
    margin-bottom: 1%;
}