i, p {
    color: var(--text-color);
}

textarea {
    resize: none;
    border: solid black 1px !important;
}


#product-detail__remove-amount i, #product-detail__add-amount i {
    color: var(--text-color);
}

#product-detail__remove-amount:disabled > i, #product-detail__add-amount:disabled > i {
    color: var(--text-hover-color);
}

#product-detail .btn-close {
    width: 0.25rem !important;
    height: 0.25rem !important;
}

#product-image {
    width: 100%;
}

#product-info__rating i {
    font-size: 28px;
}

#product-sub-info {
    background-color: var(--sub-component-background-color);
}

#product-sub-info i {
    font-size: 20px;
}

#product-sub-info span {
    font-size: 14px !important;
    padding-left: 0.5rem;
}

#product-review__star .product-info__star-container {
    cursor: pointer;
}


.sub-info-title {
    font-size: 14px;
}

.product-description {
    text-indent: 3%;
}

.notification-message {
    position: absolute;
    text-wrap: nowrap;
    color: var(--label-color);
    width: fit-content;
    left: -100%;
}

.card-img {
    object-fit: contain;
    aspect-ratio: 3/2;
}
#popup{
    display: none;
    position: fixed;
    border-radius: 5px;
    height: 100px;
    width: 500px;
    border: solid 1px var(--big-text-color);
    top:45%;
    left: 30%;
    background: var(--web-background-color);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
#popup-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
}