i, p {
    color: var(--text-color);
}

footer i, footer p {
    color: var(--label-color);
}

textarea {
    resize: none;
}

#back-btn {
    cursor: pointer;
    user-select: none;
}

#back-btn:hover {
    /*Sẽ thêm màu vào index.css*/
    color: var(--text-hover-color);
}

#cart-display {
    height: 45vh !important;
    overflow-x: hidden;
    overflow-y: auto;
}

#popup {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden !important;
}

#popup-content {
    width: 30%;
    position: absolute;
    background-color: var(--light-component-background-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cancel-button {

}

.product-item {
    height: 20vh;
}

.card-img-top {
    aspect-ratio: 1/1;
    object-fit: contain;
}