.verify-container {
    height: calc(100vh - 441px);
    align-content: center;
}

.title {
    color: var(--big-text-color);
}

.input-verify {
    width: 500px;
    height: 50px;
    padding-left: 20px;
    border-radius: 8px;
}

.btn-verify {
    width: 100px;
    height: 50px;
    border-radius: 8px;
    background-color: var(--sub-cta-button);
    color: var(--label-color);
    border: none;
}

.overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-container {
    padding: 50px 100px 30px 100px;
    border: none;
    background-color: var(--sub-component-background-color);
    border-radius: 10px;
}

.verify-cancel-button {
    padding: 6px 20px;
    border: solid 2px var(--sub-cta-button);
    color: var(--sub-cta-button);
    font-weight: 500;
    margin-top: 20px;
    border-radius: 8px;
}

.verify-button {
    padding: 8px 20px;
    border: none;
    background-color: var(--sub-cta-button);
    color: var(--label-color);
    margin-top: 20px;
    border-radius: 8px;
}